# React
/node_modules
/build

# Python
__pycache__
*.pyc
.env
.vscode/

# IDEs and other environment files
.idea/
.DS_Store


# Ignore large library files if they exist
**/matplotlib/*
**/scikit-learn/*
**/seaborn/*